article img {
    max-width: 50%;
}

article {
    text-align: center;
    padding: 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 24px;
    padding: 12px;
    background-color: orange;
}

nav ul {
    list-style: none;
    background-color: rgb(146, 27, 67);
    text-align: center;
    padding: 30px;
    border-radius: 10px;
}

nav ul li{
    display: inline;
    margin-right: 30px;
    border-radius: 10px;
    background-color: orange;
    padding: 10px;
}

footer{
    text-align: center;
    padding: 10px;
}

a{
    color: rgb(0, 0, 0);
    text-decoration:none;
}
a:hover {
    color: rgb(0, 0, 0); 
    text-decoration: underline;
}

img{
    width: 500px;
}

main{
    text-align: center;
}

.rodape{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.rodape img{
    width: 40px;
}
